<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BookingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BookingAppContext" connectionString="metadata=res://*/BookingAppModel.csdl|res://*/BookingAppModel.ssdl|res://*/BookingAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SCJU4H3Q;initial catalog=hatoca-inlamning;user id=hatoca;password=hatoca123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <BookingApp.Properties.Settings>
      <setting name="BookingApp_localhost_WebService1" serializeAs="String">
        <value>http://localhost:56808/WebService1.asmx</value>
      </setting>
    </BookingApp.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CSharpWebServiceSoap" />
        <binding name="CSharpWebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57046/CSharpWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CSharpWebServiceSoap"
        contract="ServiceReference.CSharpWebServiceSoap" name="CSharpWebServiceSoap" />
      <endpoint address="http://localhost:57046/CSharpWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CSharpWebServiceSoap1"
        contract="WebServiceReference.CSharpWebServiceSoap" name="CSharpWebServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>